/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-image: var(--bg-image);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--bg-color);
  border: solid 2px var(--border-color);
  margin: 100px 0px;
}

.header__title {
  font-size: var(--header-font-size);
  font-family: var(--font-header);
  font-weight: var(--header-font-weight);
  color: var(--header-color);
  margin: 120px 14px 0px 14px;
}

.header__content {
  font-size: var(--header-content-font-size);
  font-family: var(--font-header);
  font-weight: var(--header-font-weight);
  color: var(--header-color);
  margin-top: 20px;
  margin-bottom: 120px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 51px;
}

.content__title {
  font-size: var(--title-font-size);
  font-family: var(--font-content);
  font-weight: var(--title-font-weight);
  background: var(--content-bg-color);
  color: var(--content-color);
  border: solid 2px var(--border-color);
  padding: 6px 10px 4px 10px;
}

.bus__container {
  position: relative;
}

.label {
  position: absolute;
  font-family: var(--font-lable);
  font-size: var(--lable-font-size);
  font-weight: var(--lable-font-weight);
  color: var(--content-color);
  text-shadow: 1px 1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff;
  mix-blend-mode: hard-light;
  right: 12px;
  top: 24px;
}

.bus__img {
  width: 100%;
  height: 100%;
  display: block;
}

.description {
  background: var(--content-bg-color);
  border-left: solid 2px var(--border-color);
  border-right: solid 2px var(--border-color);
  border-bottom: solid 2px var(--border-color);
}

.description__text {
  font-size: var(--content-font-size);
  font-family: var(--font-content);
  font-weight: var(--content-font-weight);
  padding: 23px 25px 27px 25px;
}

.comment {
  font-size: var(--content-font-size);
  font-family: var(--font-content);
  font-weight: var(--content-font-weight);
  padding: 0px 25px 25px 25px;
}

.like__buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 23px;
  margin-bottom: 20px;
}

.card__icon-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-right: 4px;
}

.card__like-button {
  font-family: var(--font-button);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  background-color: transparent;
  padding-left: 37px;
  padding-right: 37px;
  cursor: pointer;
}

.footer {
  display: flex;
  flex-direction: column;
  margin-bottom: 102px;
}

.dialog__button {
  display: flex;
  border: 2px solid var(--border-color);
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 33px;
  margin-left: 33px;
  gap: 9px;
  cursor: pointer;
}

.floppy {
  width: 28px;
  height: 28px;
}

.memory__button {
  font-family: var(--font-button);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
}

.dialog {
  border: solid 2px var(--border-color);
  padding: 30px 0px;
  max-width: 353px;
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dialog_block {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-left: 24px;
  padding-right: 10px;
}

.dialog__floppy {
  width: 167px;
  height: 40px;
}

.dialog__text {
  font-family: var(--font-dialog);
  font-size: var(--dialog-font-size);
  font-weight: var(--dialog-font-weight);
  line-height: 150%;
}

.dialog_button {
  font-family: var(--font-button);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  background: transparent;
  padding: 10px 113px;
  margin-top: 30px;
  cursor: pointer;
}

@media (width > 375px) {
  .header {
    inline-size: clamp(375px, 90%, 700px);
  }

  .header__title {
    margin-top: 128px;
  }

  .header__content {
    margin-bottom: 128px;
  }

  .card {
    inline-size: clamp(375px, 90%, 700px);
  }

  .dialog__button {
    flex-direction: row;
    padding: 15px 19px;
  }

  .floppy {
    width: 21px;
    height: 21px;
  }

  .label {
    right: 28px;
    top: 26px;
  }
}
