/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-image: var(--bg-image);
}

.header {
  display: flex;
  background-color: var(--bg-color);
  border: solid 2px var(--border-color);
  margin-top: 103px;
  margin-left: 25.8vw;
  margin-right: 25.8vw;
  margin-bottom: 102px;
  flex-direction: column;
  align-items: center;
}

.header__title {
  font-size: var(--header-font-size);
  font-family: var(--font-header), sans-serif;
  font-weight: var(--header-font-weight);
  color: var(--header-color);
  margin-top: 128px;
}

.header__content {
  font-size: var(--header-content-font-size);
  font-family: var(--font-header), sans-serif;
  font-weight: var(--header-font-weight);
  color: var(--header-color);
  margin-top: 20px;
  margin-bottom: 127px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 51px;
}

.card {
  margin-left: 25.8vw;
  margin-right: 25.8vw;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.bus__container {
  position: relative;
}

.label {
  position: absolute;
  font-size: var(--lable-font-size);
  font-family: var(--font-lable);
  font-weight: var(--lable-font-weight);
  right: 26px;
  top: 29px;
  mix-blend-mode: hard-light;
  color: var(--content-color);
  text-shadow: 0px 0px 3px #ffffff;
}

.bus__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.content__title {
  font-family: var(--font-content), sans-serif;
  font-size: var(--title-font-size);
  font-weight: var(--title-font-weight);
  color: var(--content-color);
  background-color: var(--content-bg-color);
  border-right: solid 2px var(--border-color);
  border-left: solid 2px var(--border-color);
  border-top: solid 2px var(--border-color);
  line-height: 100%;
  padding-top: 7px;
  padding-left: 11px;
  padding-bottom: 4px;
}

.description {
  background-color: var(--content-bg-color);
  border-left: solid 2px var(--border-color);
  border-bottom: solid 2px var(--border-color);
  border-right: solid 2px var(--border-color);
}

.description__text {
  font-family: var(--font-content), sans-serif;
  font-size: var(--content-font-size);
  font-weight: var(--content-font-weight);
  color: var(--content-color);
  padding-top: 29px;
  padding-left: 25px;
  padding-right: 24px;
}

.comment {
  font-family: var(--font-content), sans-serif;
  font-size: var(--content-font-size);
  font-weight: var(--content-font-weight);
  color: var(--content-color);
  padding-top: 27px;
  padding-left: 25px;
}

.like__buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 24px;
  margin-right: 25px;
  margin-bottom: 18px;
  gap: 24px;
}

.card__icon-button {
  background-color: transparent;
  border: none;
  width: 27px;
  height: 24px;
  margin-top: 2px;
}

.card__like-button {
  font-family: var(--font-button);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  background-color: transparent;
  padding: 10px 35px;
  margin-top: 3px;
  margin-bottom: 4px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 51px;
  margin-bottom: 105px;
}

.dialog__button {
  display: flex;
  border: 2px solid var(--border-color);
  flex-direction: row;
  gap: 9px;
  padding: 14px 17px 14px 17px;
  align-items: center;
}

.floppy {
  width: 21px;
  height: 21px;
}

.memory__button {
  font-family: var(--font-button);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
}
