/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --bg-color: #FFFFFF;
  --bg-gradient: repeating-linear-gradient(to right, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  --font-button: "PressStart2P";
  --font-header: "PressStart2P";
  --font-dialog: "PressStart2P";
  --font-lable: "PressStart2P";
  --font-dialog: "PressStart2P";
  --dialog-font-weight: 400;
  --lable-font-weight: 400;
  --header-font-weight: 400;
  --header-font-size: clamp(49px, 5vw, 65px);
  --header-content-font-size: clamp(14px, 3vw, 23px);
  --lable-font-size: 14px;
  --header-color: #000;
  --content-color: #000;
  --border-color:#000;
  --button-text-color: #fff;
  --header-bg-color: #fff;
  --content-bg-color: #fff;
  --button-bg-color: #fff;
  --lable-shadow-color: #fff;
  --heart-color: #ff0000;
  --heart-hover-color: #000;
  --heart-countur-color: #000;
  --font-content: "Inter-Variable";
  --content-font-weight: 400;
  --content-font-size: 18px;
  --title-font-weight: 700;
  --title-font-size: 18px;
  --dialog-font-size: 14px;
  --button-font-size: 14px;
  --button-font-weight: 400;
}