/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --bg-color: #FFFFFF;
  --bg-image: url("../images/background.png");
  --font-button: "PressStart2P";
  --font-header: "PressStart2P";
  --font-dialog: "PressStart2P";
  --font-lable: "PressStart2P";
  --font-dialog: "PressStart2P";
  --dialog-font-weight: 400;
  --lable-font-weight: 400;
  --header-font-weight: 400;
  --header-font-size: clamp(49px, 5vw, 65px);
  --header-content-font-size: clamp(14px, 3vw, 23px);
  --lable-font-size: 14px;
  --header-color: #000;
  --content-color: #000;
  --border-color:#000;
  --header-bg-color: #fff;
  --content-bg-color: #fff;
  --button-bg-color: #fff;
  --font-content: "Inter-Variable";
  --content-font-weight: 400;
  --content-font-size: 18px;
  --title-font-weight: 700;
  --title-font-size: 18px;
  --dialog-font-size: 14px;
  --button-font-size: 14px;
  --button-font-weight: 400;
}